# http://www.gnu.org/software/automake

Makefile.in
/ar-lib
/mdate-sh
/py-compile
/test-driver
/ylwrap

# http://www.gnu.org/software/autoconf

/autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.h.in
/config.log
/configure.scan
/missing
/stamp-h1

# https://www.gnu.org/software/libtool/

# http://www.gnu.org/software/texinfo

/texinfo.tex

*~

.deps
.dirstamp
OLD
m4

Makefile
config.log
libtool
*.pc
*.lo
.libs
*.la

patches
stamp-h1
